<template name="navigation">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="#">Codign Class</a>
            <ul class="nav">
                <li> <a href="{{pathFor "home"}}">home</a> </li>
                <li><a href="{{pathFor "about"}}">about</a> </li>
                <li><a href="{{pathFor "products"}}">products</a> </li>
                <li> {{>loginButtons}} </li>
            </ul>
        </div>
    </div>
</template>

<!--


                 [oo]
                /|##|\
                 d  b


-->